node_modules
/build
/.svelte-kit
/static/img
/static/notes
/static/spotify
/.image-manifest.json
/.spotify.json
.env
.env.*
!.env.example
vite.config.ts.timestamp-*
/static/triangles
/src/lib/generated
.DS_Store
*.log
