.markdown-remark-toc-wrapper {
  display: flex;
  flex: 1;
}
.markdown-remark-toc-wrapper * {
  font-size: 15px;
}
.markdown-remark-toc {
  display: flex;
  background-color: rgba(255, 255, 255, 0.033);
  padding-right: 20px;
}
.markdown-remark-toc p {
  margin: 0;
}
.blog-post h1,
.blog-post h2,
.blog-post h3,
.blog-post h4 {
  font-weight: bold;
}
.blog-post h1 > .anchor,
.blog-post h2 > .anchor,
.blog-post h3 > .anchor,
.blog-post h4 > .anchor {
  margin-left: -24px !important;
}
.blog-post h1 {
  font-size: 1.45em;
}
.blog-post h2 {
  font-size: 1.25em;
}
.blog-post h3 {
  font-size: 1.15em;
}
.blog-post h4 {
  font-size: 1em;
}
.blog-post h5 {
  font-size: 0.88rem;
}
.blog-post h1 > code {
  font-size: 1.3em !important;
}
.blog-post h2 > code {
  font-size: 1.1rem !important;
}
.blog-post h3 > code {
  font-size: 1rem !important;
}
.blog-post h4 > code {
  font-size: 0.9rem !important;
}
.blog-post h5 > code {
  font-size: 0.82rem !important;
}
.blog-post p,
.blog-post li {
  font-size: 16.5px;
  line-height: 1.6;
}
.blog-post code {
  font-size: 14.5px !important;
  line-height: 1.65;
}
.blog-post summary {
  cursor: pointer;
}
.blog-post table {
  border-collapse: collapse;
}
.blog-post table td,
.blog-post table th {
  border: 1px solid #ccc;
  padding: 2px;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .blog-post p {
    font-size: 14.5px;
  }
  .blog-post .markdown-remark-toc ul {
    padding-inline-start: 32px;
  }
  .blog-post ul {
    padding-inline-start: 15px;
  }
  .blog-post li {
    font-size: 14.5px;
  }
  .blog-post code {
    font-size: 13.5px !important;
    line-height: 1.65;
  }
}
.above-fold-content {
  display: flex;
  flex-direction: row;
}
.above-fold-content > * {
  display: flex;
  flex: 1;
}

.blog-post .good,
.blog-post .bad,
.blog-post .note {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-style: solid;
  border-width: 0px;
  border-left-width: 1.5px;
  font-size: 16.5px;
}

.blog-post .padded {
  padding-bottom: 6px;
  padding-top: 6px;
}

@media only screen and (max-width: 800px) {
  .blog-post .good,
  .blog-post .bad,
  .blog-post .note {
    font-size: 14.5px;
  }
}

.blog-post .good {
  background-color: #22bb2229;
}
.blog-post .bad {
  background-color: #bb222229;
}
.blog-post .note {
  background-color: #1ed5f52d;
}
