.markdown-remark-toc-wrapper {
  display: flex;
  flex: 1;
}
.markdown-remark-toc-wrapper * {
  font-size: 15px;
  font-weight: 400;
}
.markdown-remark-toc {
  display: flex;
  background-color: rgba(255, 255, 255, 0.033);
  padding-right: 20px;
}
.markdown-remark-toc p {
  margin: 0;
}
.blog-post h1,
.blog-post h2,
.blog-post h3,
.blog-post h4 {
  font-weight: 500;
}
.blog-post h1 > .anchor,
.blog-post h2 > .anchor,
.blog-post h3 > .anchor,
.blog-post h4 > .anchor {
  margin-left: -24px !important;
}
.blog-post h1 {
  font-size: 1.5em;
}
.blog-post h2 {
  font-size: 1.3em;
}
.blog-post h3 {
  font-size: 1.12em;
}
.blog-post h4 {
  font-size: 1.05em;
}
.blog-post h5 {
  font-size: 0.9rem;
}
.blog-post h1 > code {
  font-size: 1.3em !important;
}
.blog-post h2 > code {
  font-size: 1.1rem !important;
}
.blog-post h3 > code {
  font-size: 1rem !important;
}
.blog-post h4 > code {
  font-size: 0.9rem !important;
}
.blog-post h5 > code {
  font-size: 0.82rem !important;
}
.blog-post p,
.blog-post li {
  font-size: 16.5px;
  font-weight: 300;
  line-height: 1.58;
}
.blog-post code {
  font-size: 14.5px !important;
  font-weight: 400;
  line-height: 1.65;
  font-family: 'Input Mono', 'Fira Code', Consolas, Monaco, 'Andale Mono',
    'Ubuntu Mono', monospace;
}
.blog-post pre {
  overflow-x: auto;
}
.blog-post summary {
  cursor: pointer;
}
.blog-post table {
  border-collapse: collapse;
}
.blog-post table td,
.blog-post table th {
  border: 1px solid #ccc;
  padding: 2px;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .blog-post p {
    font-size: 14.5px;
  }
  .blog-post .markdown-remark-toc ul {
    padding-inline-start: 32px;
  }
  .blog-post ul {
    padding-inline-start: 15px;
  }
  .blog-post li {
    font-size: 14.5px;
  }
  .blog-post code {
    font-size: 13.5px !important;
    line-height: 1.65;
  }
}
.above-fold-content {
  display: flex;
  flex-direction: row;
}

.blog-post .good,
.blog-post .bad,
.blog-post .warning,
.blog-post .warn,
.blog-post .note,
.blog-post .info {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-style: solid;
  border-width: 0px;
  border-left-width: 1.5px;
  font-size: 17px;
  font-weight: 400;
}

.blog-post .padded {
  padding-bottom: 6px;
  padding-top: 6px;
}

@media only screen and (max-width: 800px) {
  .blog-post .good,
  .blog-post .bad,
  .blog-post .warning,
  .blog-post .warn,
  .blog-post .note,
  .blog-post .info {
    font-size: 14.5px;
  }

  .blog-post .katex {
    padding-left: 0px !important;
  }
}

.blog-post .good {
  background-color: #22bb2229;
}
.blog-post .bad {
  background-color: #bb222229;
}
.blog-post .warning,
.blog-post .warn {
  background-color: #bb882229;
}
.blog-post .note,
.blog-post .info {
  background-color: #1ed5f52d;
}

.blog-post .note.xpadding,
.blog-post .info.xpadding,
.blog-post .good.xpadding,
.blog-post .bad.xpadding,
.blog-post .warning.xpadding,
.blog-post .warn.xpadding {
  padding-top: 6px;
  padding-bottom: 6px;
}

@media only screen and (max-width: 460px) {
  .iframe-mobile-scale {
    transform: scale(0.85, 0.85);
    transform-origin: center left;
    margin-top: -20px;
    margin-bottom: -20px;
  }
}

@media only screen and (max-width: 385px) {
  .iframe-mobile-scale {
    transform: scale(0.78, 0.78) !important;
    transform-origin: center left;
  }
}

details summary {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2px;
}

details:not([open]) summary {
  background-color: #1ed5f52d;
}
