.markdown-remark-toc-wrapper {
  display: flex;
  flex: 1;
  * {
    font-size: 15px;
  }
}

.markdown-remark-toc {
  display: flex;
  background-color: rgba(255, 255, 255, 0.033);
  padding-right: 20px;

  p {
    margin: 0;
  }
}

.blog-post {
  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;

    > .anchor {
      margin-left: -24px !important;
    }
  }
  h1 {
    font-size: 1.45em;
  }
  h2 {
    font-size: 1.25em;
  }
  h3 {
    font-size: 1.15em;
  }
  h4 {
    font-size: 1em;
  }
  h5 {
    font-size: 0.88rem;
  }
  h1 > code {
    font-size: 1.3em !important;
  }
  h2 > code {
    font-size: 1.1rem !important;
  }
  h3 > code {
    font-size: 1rem !important;
  }
  h4 > code {
    font-size: 0.9rem !important;
  }
  h5 > code {
    font-size: 0.82rem !important;
  }

  p,
  li {
    font-size: 16.5px;
    line-height: 1.6;
  }

  code {
    font-size: 14.5px !important;
    line-height: 1.65;
  }

  summary {
    cursor: pointer;
  }

  table {
    border-collapse: collapse;

    td,
    th {
      border: 1px solid #ccc;
      padding: 2px;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 800px) {
  .blog-post {
    p {
      font-size: 14px;
    }

    code {
      font-size: 13.5px !important;
      line-height: 1.65;
    }
  }
}
