@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono|PT+Sans');

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: rgb(65, 131, 196);
}
a:active,
a:hover {
  outline-width: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
  color: #ccc;
}
img {
  border-style: none;
}
pre {
  background-color: #000 !important;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  background-color: rgb(16, 16, 16);
  color: #dcdcdc;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.4;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.2rem;
  color: inherit;
  font-family: 'Oxygen Mono', monospace;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.62671rem;
}
h3 {
  font-size: 1.38316rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.85028rem;
}
h6 {
  font-size: 0.78405rem;
  line-height: 1.1;
}
pre {
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.17 !important;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
}
p *:last-child {
  margin-bottom: 0;
}
code {
  font-size: 0.85rem !important;
  line-height: 1.45rem;
}
blockquote {
  background-color: rgba(222, 222, 222, 0.08);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-style: solid;
  border-width: 0px;
  border-left-width: 3px;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

@media only screen and (max-width: 776px) {
  .header {
    display: none !important;
  }

  .header-mobile {
    display: flex !important;
  }
}
